.sidebar section {
  max-width: 600px;
}

/* charts */

svg {
  border: 0px solid black;
}

circle {
  stroke: #666;
  stroke-width: 1px;
  fill: #666;
  fill-opacity: 0.3;
}

.focus text, .axis text {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  fill: #666;
}

.axis line {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1px;
  stroke: #666;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus line {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
  stroke-dasharray: "5, 5";
  shape-rendering: crispEdges;
}

.notes line {
  fill: none;
  /*stroke: #7291CC;*/
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.tiledmap {
  margin-top: 30px;
  height: 400px !important;
}