/* components.css override */

body {
	overflow-x: hidden;
	background-color: #E0E0E2;
	color: #1E1E1E;
}

.input__field__isao {
  color: #e0e0e2;
}

.input__label__isao {
  color: #e0e0e2;

}

.input__label__isao::before {
  background: #e0e0e2;
}

.input__label__isao::after {
  color: #e0e0e2;
}

.input__field__isao:focus + .input__label__isao::before {
  background-color: #e0e0e2;
}

.st-menu {
	background-color: #464655;
}

.st-content {
	overflow-y: auto;
}

.md-modal {
  max-width: 530px;
}

.input {
	max-width: none;
}

.input__label {
	font-size: 1em;
}

.input {
	margin: 0;
}

.progress-button {
	padding: 0;
}

.progress-button .progress-inner {
  background: rgba(0,0,0,0.3);
  /*background: #464655;*/
}

.progress-button .content::before {
  content: "\f00c";
  padding-top: 10px;
}

.progress-button .content::after {
  content: "\f00d";
  padding-top: 10px;
}

@media screen and (max-width: 640px) {
	.progress-button .content::after {
	  padding-top: 0px;
	}
	.progress-button .content::before {
	  padding-top: 0px;
	}	
}

.md-content {
	background-color: #464655;
}

.md-content h3 {
	/*background-color: rgba(255,255,255,0.2);*/
	border-bottom: 2px solid rgba(255,255,255,0.2);
	color: #E0E0E2;
}

/* ----------------------- */

* {
/*    -webkit-touch-callout: none;  Disable selection/copy in UIWebView 
    -webkit-user-select: none;*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* Disable button highlight */
    -webkit-tap-highlight-color: transparent;  /* i.e. Nexus5/Chrome and Kindle Fire HD 7'' */
}

header {
	background: #464655;
}

.note-item {
	margin: 0em;
  border-bottom: 2px solid rgba(255,255,255,0.1);
}

.cat1_color {
  border-left: 5px solid #0488A5;
}

.cat2_color {
  border-left: 5px solid #CA054D;
}

.cat3_color {
  border-left: 5px solid #07F75B;
}

.note-content {
	color: #E0E0E2;
  padding: 1em 1em 0.5em 1em;
}

.note-content p {
	font-size: 0.9em;
	margin-top: 1em;
	margin-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 1em;
}

.note-content time {
	font-style: italic;
	font-size: 0.9em;
  opacity: 0.7;
}

.chart-container {
	margin: auto;
	margin-top: 20px;
	width: 95%;
	max-width: 940px;
	padding: 20px;
	background: rgba(0,0,0,0.05);
}

.chart-container h1 {
	font-size: 1em;
	letter-spacing: 0.1em;
	margin: 0;
	color: #464655;
	text-transform: uppercase;
}

.chart-container h2 {
	font-size: 0.9em;
	font-weight: normal;
	margin: 0;
	margin-top: 3px;
	color: #464655;
}

button {
	width: 30px;
	height: 30px;
	margin: 15px;
	background: #464655;
	border: 0px;
	font-size: 21px;
	color: #E0E0E2;
	outline:none;
}

.radio-toolbar {
	margin-top: 30px;
	margin-bottom: 40px;
}

.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display:inline-block;
    /*background-color:#ddd;*/
    padding: 30px 10px 0px 10px;
    width: 95%;
    font-family: 'Lato', sans-serif;;
    font-size:16px;
}

.radio-toolbar input[type="radio"]:checked + label {
    border-bottom: 4px solid #E0E0E2;
}

/*label[for=radio1] {
	background-color: #1212aa;
}

label[for=radio2] {
	background-color: #23ff23;
}

label[for=radio3] {
	background-color: #340034;
}*/

form.content {
	padding: 25px;
	text-align: center;
}

.input-date {
	width: 30%;
	padding: 0px 10px 0px 10px;
	margin-right: 0;
	margin-left: 0;
}

.input-coords {
  width: 45%;
  padding: 0px 10px 0px 10px;
	margin-right: 0;
	margin-left: 0;

}

.input-descr {
  width: 90%;
  padding: 0px 10px 0px 10px;
	margin-right: 0;
	margin-left: 0;
}

.input-cat {
	width: 30%;
  padding: 0px 10px 0px 10px;
	margin-right: 0;
	margin-left: 0;

}

.icon {
	display: inline;
}

.time-series-template {
	position:relative;
	overflow:hidden;
	height: 100px;
}

.time-series-template > svg {
  position:absolute;
  right: 0%;
  top: 0%;
}

button.control {
	width: 50%;
	height: 70px;
	bottom: 0;
	position: absolute;
	border: 0;
	right: 0;
	background: #464655;
}

/*button.control:active {
	background: red;
}*/

button.md-close {
	padding: 0px;
	width: 50%;
	height: 70px;
	bottom: 0;
	left: 0;
	position: absolute;
	border: 0;
	overflow: hidden;
	background: rgba(255,255,255,0.1);
	color: #e0e0e2;
}

button.md-close:focus {
    outline-width: 0;
}

.control > span {
	width: 100%;
	height: 100%;
}

span.content > i {
  margin-top: 30px;
  color: rgba(255,255,255,0.8);
}

input[type=submit] {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	/*background: rgba(255,255,255,0.1);*/
	/*background: transparent;*/
	background: rgba(0,0,0,0.1);
	color: #fff;
}

input[type=submit]:focus {
    outline-width: 0;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}

@media screen and (max-width: 640px) {
  /*body { font-size: 75%; }*/
  button.control, button.md-close { height: 50px; }
  .md-content h3 { font-size: 1.8em; }
  span.content > i { margin-top: 20px; }
}

#plus {
	/*"-webkit-animation": pulse 0.3s;*/
}

@-webkit-keyframes pulse {
  0%{
    -webkit-transform: scale(1);
  }
  50%{
    -webkit-transform: scale(1.8);
  }
  100%{
    -webkit-transform: scale(1);
  }
}

.category_1 {
	stroke: #0488A5;
	background-color: #0488A5;
	opacity: 0.8;
}

.category_2 {
	stroke: #CA054D;
	background-color: #CA054D;
	opacity: 0.8;
}

.category_3 {
	stroke: #07F75B;
	background-color: #07F75B;
	opacity: 0.8;
}

/*.cat_triangle {
	position: absolute;
	right: 0;
	opacity: 0.7;
	margin-top: -2em;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 50px 50px 0;
	-webkit-transform: rotate(360deg);
}

.cat1_triangle {
	border-color: transparent #0488A5 transparent transparent;
}

.cat2_triangle {
	border-color: transparent #CA054D transparent transparent;
}

.cat3_triangle {
	border-color: transparent #07F75B transparent transparent;
}*/