/* components.css override */

.st-content {
	overflow-y: auto;
}

/* ----------------------- */

header {
	background: #7291CC;
}

.note-item {
	margin: 0em;
	border-bottom: 1px solid #fff;
	padding: 2em;
}

.note-content {
	color: #fff;
}

.note-content p {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.note-content time {
	font-style: italic;
	font-size: 13px; 
}

.chart-container {
	margin: auto;
	margin-top: 20px;
	width: 95%;
	max-width: 940px;
	padding: 20px;
	background: #eee;
}

button {
	width: 30px;
	height: 30px;
	margin: 15px;
	background: #7291CC;
	border: 0px;
	font-size: 21px;
	color: #fff;
}

.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#bbb;
}

.input-date {
width: 77px;
}

.input-coords {
width: 132px;
}

.input-descr {
width: 180px;
}

.input-cat {
	width: 90px;
}

.icon {
	display: inline;
}

.line-template {
	position:relative;
	overflow:hidden;
	height: 100px;
}

.line-template > svg {
  position:absolute;
  right: 0%;
  top: 0%;
}